@media(max-width: 360px){
	
	.menu{
		display: none;
	}

	.menu-icon{
	  display: block;
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  top: 50px;
	  right: 50px;
	  z-index: 9999;
	  
	}	
	.logo img {
		width: 105px;
		height: auto;
	}
	.border-img img {
	width: 200px;
	margin-left: 81px;
	}
	.borders {
	width: 300px;
	height: 300px;
	margin-left: 400px;
	margin-top: 100px;
	float: right;
	position: relative;
	}
	.border-text span {
	color: #fff;
	font-size: 18px;
	position: absolute;
	right: 191px;
	top: 66px;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	}
	.border-text span {
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: 192px;
	top: 60px;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	}
	.border-text a p {
	color: #fde428;
	font-size: 13px;
	text-align: right;
	font-weight: 700;
	position: absolute;
	top: 177px;
	left: 15px;
	text-decoration: ;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 3px solid #fde428;
	}
	.Contact button {
	float: right;
	background: #fde428;
	color: #002e5b;
	padding: 7px 13px;
	border-radius: 15px;
	font-weight: 700;
	font-size: 10px;
	}
	.Contact span {
	float: left;
	color: #FFF;
	align-items: center;
	font-size: 12px;
	width: 200px;
	}
	.take-risk h1 {
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	color: #002e5b;
	font-weight: 700;
	}
	.take-risk span {
	font-size: 12px;
	color: #747474;
	margin-top: 15px;
	}
	.take-risk p {
	font-size: 12px;
	color: #333333;
	margin-top: 15px;
	}
	.counsel-take-risk-area .box-1 {
	width: 150px;
	height: 250px;
	background: #fde52c;
	position: absolute;
	top: 56px;
	right: 96px;
	}
	.counsel-take-risk-area .box-2 {
	width: 250px;
	height: 150px;
	background: #a1a1a1;
	position: absolute;
	top: 107px;
	right: 45px;
	margin-bottom: 100px;
	}
	.counsel-take-risk-area {
	padding: 80px 0;
	background: #fff;
	position: relative;
	padding-bottom: 350px;
	}
	#curve_chart{
	width: 200px;
	height: 400px;
	margin-left: -70px;
	margin-bottom: 30px;
	}
	.arrow {
	float: left;
	position: absolute;
	bottom: 82px;
	color: #fde428;
	left: 99px;
	}
	.counter p {
	color: #fff;
	font-size: 19px;
	font-weight: 500;
	}
	.counsel-office-area {
	padding: 80px 0;
	background: #fff;
	padding-bottom: 330px;
	}
	.counsel-office-area .box-1 {
	width: 200px;
	height: 300px;
	background: #fde52c;
	position: absolute;
	top: 309px;
	right: 70px;
	}
	.counsel-office-area .box-6 {
	width: 300px;
	height: 150px;
	background: #002e5b;
	position: absolute;
	top: 387px;
	right: 22px;
	}
	.counsel-office-area .box-6 a img {
	margin-left: 39%;
	margin-top: 14%;
	width: 70px;
	}
	.map iframe{
		width: 330px;
	}
	.contact-us-sec-title p {
	color: #8c8c8c;
	font-size: 12px;
	}
	.contact-us-sec-title h1 {
	color: #002e5b;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	}
	.popular-sec-title h1 {
	color: #002e5b;
	font-weight: 700;
	font-size: 27px;
	text-transform: uppercase;
	}
	.popular-sec-title p {
	font-size: 15px;
	}
	.naration p {
	font-size: 16px;
	}
	.naration h5 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	max-width: 250px;
	margin: 0px auto;
	margin-top: 50px;
	background: ;
	position: relative;
	font-size: 15px;
	}
	.popular-item h2 {
	font-weight: 700;
	font-size: 23px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	}


	.popular-item p {
	font-size: 14px;
	margin-top: 20px;
	}
	.counsel-take-risk-area .box-2 {
	width: 276px;
	height: 150px;
	background: #a1a1a1;
	position: absolute;
	top: 128px;
	right: 32px;
	margin-bottom: 100px;
	}
	.counsel-take-risk-area .box-1 {
	width: 150px;
	height: 294px;
	background: #fde52c;
	position: absolute;
	top: 56px;
	right: 96px;
	z-index: ;
	}









}



@media(max-width: 320px){
	.map iframe {
	width: 290px;
	}
	.counsel-office-area .box-1 {
	width: 200px;
	height: 300px;
	background: #fde52c;
	position: absolute;
	top: 343px;
	right: 64px;
	}
	.counsel-office-area .box-6 {
	width: 300px;
	height: 150px;
	background: #002e5b;
	position: absolute;
	top: 420px;
	right: 9px;
	}
	.counsel-take-risk-area .box-1 {
	width: 150px;
	height: 250px;
	background: #fde52c;
	position: absolute;
	top: 49px;
	right: 92px;
}
	.counsel-take-risk-area .box-2 {
	width: 250px;
	height: 150px;
	background: #a1a1a1;
	position: absolute;
	top: 98px;
	right: 38px;
	margin-bottom: 100px;
}
	.counsel-take-risk-area {
	padding: 80px 0;
	background: #fff;
	position: relative;
	padding-bottom: 300px;
}
	.popular-item h2 {
	font-weight: 700;
	font-size: 23px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}	

	.popular-item p {
	font-size: 14px;
	margin-top: 20px;
	}
	.Contact button {
	float: right;
	background: #fde428;
	color: #002e5b;
	padding: 7px 13px;
	border-radius: 15px;
	font-weight: 700;
	font-size: 10px;
	margin-top: -33px;
	}
	.Contact span {
	float: left;
	color: #FFF;
	align-items: center;
	font-size: 12px;
	width: 195px;
	}

}